*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url('bg-pattern-desktop.png');
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    margin: min(3%, 1rem);
}
.section1{
   min-width: 300px; 
   margin-top: 60px;
}


.section1 h1 {
    font-size: 3rem;
    margin: 40px 40px;
    text-align: left;
}
span{
    color: hsl(0, 36%, 70%);
}
.section1 p{
    margin: 10px 40px;
    text-align: left;
    color: hsl(0, 36%, 70%);
    width: 400px;
    line-height: 1.5rem;
}
 form{
    position: relative;
    display: flex;
    width: 300px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;    
}
input{
    padding: 10px;
    border-radius: 15px;
    border-bottom: 2px solid #ccc;
    flex: 1;
    height: 45px;
}
button{
    position: absolute;
    right: 0;
    background-color: hsl(0, 36%, 70%);
    height: 40px;
    width: 70px;
    border-radius: 10px;
    
}

.section2  {
    min-width: 300px;
}
.section2 img{
    width: 450px;
    height: 100%;
}